.step-by-step-body
	padding-left: calc(8rem + 280px)
	padding-top: 3rem
	padding-right: 8rem
	min-height: calc(100vh - 85px)
.step-by-step	
	min-width: 326px
	position: fixed
	min-height: 100%
@media (max-width: 1300px)	
	.step-by-step
		padding-left: 1rem

@media (max-width: 1250px) and (min-width: 1022px)
	.steps
		padding-left: 1.5rem
		padding-right: 3.4rem !important
@include desktop-only
	.step-by-step-body
		padding-left: calc(4rem + 280px)
		padding-right: 1rem
@include tablet-only
	.step-by-step-body
		padding-left: calc(1rem + 280px)
		padding-right: 1rem
	.step-by-step	
		padding-right: 1rem
		min-width: 280px
		position: fixed
		min-height: 100%
@include mobile
	.step-by-step-body
		padding-top: calc(3rem + 30px)
		padding-left: 1rem
		padding-right: 1rem
