name: UPDATE STAGE

on:
  # Trigger the workflow on push or pull request merge
  push:
    branches:
      - FerSanchez/PipelinesChanges

env:
  db_username: ${{ secrets.DB_USERNAME }}
  db_password: ${{ secrets.DB_PASSWORD }}
  db_hostname: ${{ secrets.DB_HOSTNAME }}
  db_port: ${{ secrets.DB_PORT }}
  db_name: ${{ secrets.DB_NAME }}
  dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
  dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
  argo_repo: ${{ secrets.ARGO_REPO }}
  argo_ref: ${{ secrets.ARGO_REF }}
  argo_token: ${{ secrets.ARGO_TOKEN }}

jobs:

##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##  MIGRATIONS
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  migrations:
    name: Migrations
    runs-on: self-hosted
    if: "!contains(github.event.head_commit.message, 'cancel migrations')"
    steps:

    - name: checkout
      uses: actions/checkout@v3
      with:
        ref: FerSanchez/PipelinesChanges
    
    - name: Install and run migrations
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.15.2/migrate.linux-amd64.tar.gz | tar xvz && sudo mv migrate /usr/local/bin && sudo chmod +x /usr/local/bin/migrate
        sudo migrate -path ./backend/migrations -database 'postgres://${{ env.db_username }}:${{ env.db_password }}@${{ env.db_hostname }}:${{ env.db_port }}/${{ env.db_name }}?sslmode=disable' -verbose up

##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##  BUILD AND PUSH BACKEND STAGE
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  build-and-push:
    name: Build and push
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, 'cancel build')"
    steps:

    - name: checkout
      uses: actions/checkout@v3
      with:
        ref: FerSanchez/PipelinesChanges

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.dockerhub_username }}
        password: ${{ env.dockerhub_token }}

    - name: Get short SHA
      id: short
      run: echo "::set-output name=sha7::$(echo ${GITHUB_SHA} | cut -c1-7)"

    - name: build and push backend - stage -
      env:
        TAG: ${{ steps.short.outputs.sha7 }}
      run: |
        cd backend && docker build . -t bruddev/cast-backend-stage:$TAG
        docker push bruddev/cast-backend-stage:$TAG

##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##  UPDATE STAGE ENVIRONMENT - ARGO TIME!
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  update-stage-via-argocd:
    name: ArgoCD update Stage
    runs-on: ubuntu-20.04
    needs: build-and-push
    steps:

    - name: Clone ArgoManifests
      run: |
        mkdir -p ./argo

    - name: Checkout ArgoManifests
      uses: actions/checkout@v3
      with:
        repository: ${{ env.argo_repo }}
        ref: ${{ env.argo_ref }}
        token: ${{ env.argo_token }}
        path: ./argo

    - name: time
      id: time
      run: echo "::set-output name=time::$(date "+%T")"

    - name: Get short SHA
      id: short
      run: echo "::set-output name=sha7::$(echo ${GITHUB_SHA} | cut -c1-7)"

    - name: Install Kustomize and update tag
      env:
        TIME: ${{ steps.time.outputs.time }}
        TAG: ${{ steps.short.outputs.sha7 }}
      run: |
        curl -fL https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/v4.5.5/kustomize_v4.5.5_linux_amd64.tar.gz| tar xz && \
        chmod +x kustomize
        cd ./argo/voting-tool/backend/environments/stage && kustomize edit set image bruddev/cast-backend-stage:$TAG
        git config --global user.email "brunkins@brudfyi.com"
        git config --global user.name "Brunkins" 
        git commit -am "Added New Value From GHA $TIME" && git push

    