.blockies-wrapper
  position: relative
  background-color: white
  border-radius: 133.333px
  max-height: 40px
.blockies
  border-radius: 133.333px
  border: 4px solid #F2F2F2
.rounded-top
  border-top-left-radius: 8px
  border-top-right-radius: 8px
.proposal-title
  color: #000000
  font-weight: 400
  font-size: 20px
  font-height: 24px
.community-wrapper
  padding-top: 0
.community-header-wrapper
  background-color: #F2F2F2
  width: 100%
  max-height: 248px
.community-header
  justify-content: space-between // here because bulma class didn't override
.community-logo-wrapper
  margin: 0
.community-logo-mobile
  border-radius: 50%
  max-height: 85px
  max-width: 85px
.community-logo
  border-radius: 50%
.community-info
  padding: 19.5px 24px
  max-width: 225px
.community-name
  font-family: Arimo
  font-size: 20px
  font-weight: bold
.community-numbers
  font-family: Arimo
  color: #757575
.community-content
  padding-top: 31px
.community-numbers
  font-size: 14px

@include desktop
  .spacing-left-panel
    padding-top: 2rem !important
    padding-right: 5rem !important
    padding-left: 5rem !important
  .spacing-right-panel
    padding-left: 8rem
    padding-top: 5rem
    padding-right: 8rem
  .text-description
    max-width: 260px
  .community-header
    width: 100%
    max-width: 960px
    padding-left: 0
    padding-right: 0

@include tablet-only
  .spacing-left-panel
    padding-top: 2rem !important
    padding-right: 2rem !important
    padding-left: 2rem !important
  .spacing-right-panel
    padding-left: 2.5rem !important
    padding-top: 2rem !important
    padding-right: 2.5rem !important
  .proposal-header-spacing
    min-height: 66px
    padding-right: 48px !important
    padding-left: 46px !important
  .proposal-status
    padding-right: 0 !important
    code span
      margin-right: 0 !important
  .community-content
    margin-top: 0
    padding-top: 40px

@include mobile
  .spacing-left-panel
    padding: 40px 20px 0px 20px
  .spacing-right-panel
    padding: 24px 24px 0px 24px
  .proposal-spacing
    padding-left: 1.5rem
    padding-right: 1.5rem
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    margin-bottom: 1.5rem
  .proposal-header-spacing
    min-height: 110px
    padding-left: 20px !important
    padding-right: 35px !important
  .proposal-body-spacing
    padding-left: 1.5rem !important
    padding-right: 1.5rem !important
    padding-top: 1rem !important
    padding-bottom: 1rem !important
  .proposal-title
    color: #000000
    font-weight: 400
    font-size: 18px
    font-height: 21.6px
  .community-numbers
    font-size: 16px
  .community-content
    padding-top: 0
    margin-top: -70px
  .community-header-wrapper
    max-height: 268px
  .community-header
    flex-direction: column
    min-height: 268px
    padding-top: 40px !important // override App.sass !important
    padding-bottom: 40px
    justify-content: normal
  .community-logo-wrapper
    align-self: flex-start
  .community-info
    padding: 0px 24px 0px 24px
  .community-specific
    flex-grow: 0
    margin: 0
    margin-bottom: 12px
  .tabs-community-list
    justify-content: space-around !important
    border-bottom: none !important
